@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Midterm Starter</h1>
    <h2>Student Name: Ryan Collicutt</h2>
    <h2>Student Number: A00888552</h2>
</div>
